@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Search Engine Client Using Lucene</h1>
    <p class="lead">
        Search Engine Client gives you powerful way of fast and high performance Indexing and searching of Transaction Logs.
        By using the application you can Index the Transaction Logs in an efficient manner and use the search profiles to build queries and get results very fast from a large database.
    </p>
    <p><a href="https://lucene.apache.org/core/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            There are two options in Menu. Index and Search.
            From Index You can Index a transaction either on a fly or from the database.
            From Search you can build search profiles and query for faster results.
        </p>
    </div>
</div>